.wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

input {
    background: transparent !important;
}

.checkValue {
    border-color: tomato !important;
    background: salmon !important;
    border-width: 3px;;
}

.OK {
    border-color: seagreen !important;
}